# Declare list of packages to be installed
# Lines starting with `#` are ignored, so are empty lines.
# Stuff with `bioc::` at the start is installed from bioconductor
# Leading and trailing whitespace is ignored.

## Basic utility packages
logger
progress
yaml

## We all love the tidyverse
tidyverse

## Stuff from Bioc to process data
bioc::preprocessCore
bioc::PCAtools
bioc::genefilter
bioc::limma
bioc::RankProd
bioc::oligo
bioc::affycoretools
statmod

## Graphics
VennDiagram
bioc::EnhancedVolcano
gplots
RColorBrewer
UpSetR

## Others
rafalib
testthat

# Databases
## Base database reader
bioc::org.Hs.eg.db

## The actual databases
bioc::hgu133a.db
bioc::hgu133b.db
bioc::hgu133plus2.db
bioc::HsAgilentDesign026652.db
bioc::hugene10sttranscriptcluster.db

## Platform files needed by affy to load the data
bioc::pd.hg.u133a
bioc::pd.hg.u133b
bioc::pd.hg.u133.plus.2
bioc::pd.hugene.1.0.st.v1
